.e51_29 { 
	overflow:hidden;
}
.e51_29 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:1600px;
	position:absolute;
}
.e51_31 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:1600px;
	position:absolute;
	left:0px;
	top:0px;
}
.e51_32 { 
	width:1000px;
	height:1300px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/figma_page_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e75_2529 { 
	color:rgba(255, 255, 255, 1);
	width:614px;
	height:61px;
	position:absolute;
	left:50px;
	top:870px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e75_121 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:900px;
	height:100px;
	position:absolute;
	left:50px;
	top:679px;
}
.e75_117 { 
	color:rgba(255, 255, 255, 1);
	width:894px;
	height:66px;
	position:absolute;
	left:50px;
	top:161px;
	font-family:Inika;
	text-align:center;
	font-size:25px;
	letter-spacing:25;
}
.e75_118 { 
	color:rgba(255, 255, 255, 1);
	width:894px;
	height:66px;
	position:absolute;
	left:50px;
	top:268px;
	font-family:Inika;
	text-align:center;
	font-size:25px;
	letter-spacing:25;
}
.e75_2472 { 
	width:1200px;
	height:160px;
	position:absolute;
	left:-100px;
	top:972px;
}
.e75_1752 { 
	width:200px;
	height:200px;
	position:absolute;
	left:380px;
	top:375px;
}
.e75_1753 { 
	background-color:rgba(255, 255, 255, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2087 { 
	width:174px;
	height:174px;
	position:absolute;
	left:13px;
	top:13px;
}
.e75_1755 { 
	overflow:hidden;
}
.e75_1755 { 
	width:174px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_1754 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 255, 1) 0%,rgba(255, 0, 0, 1) 100%) ;
	width:200px;
	height:200px;
	position:absolute;
	left:-13px;
	top:-13px;
}
.e75_2091 { 
	width:42px;
	height:42px;
	position:absolute;
	left:13px;
	top:13px;
}
.e75_2089 { 
	overflow:hidden;
}
.e75_2089 { 
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2088 { 
	background-color:rgba(0, 0, 0, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2095 { 
	width:18px;
	height:18px;
	position:absolute;
	left:25px;
	top:25px;
}
.e75_2093 { 
	overflow:hidden;
}
.e75_2093 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2092 { 
	background-color:rgba(0, 0, 0, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2099 { 
	width:42px;
	height:42px;
	position:absolute;
	left:145px;
	top:13px;
}
.e75_2097 { 
	overflow:hidden;
}
.e75_2097 { 
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2096 { 
	background-color:rgba(0, 0, 0, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2103 { 
	width:18px;
	height:18px;
	position:absolute;
	left:157px;
	top:25px;
}
.e75_2101 { 
	overflow:hidden;
}
.e75_2101 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2100 { 
	background-color:rgba(0, 0, 0, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2111 { 
	width:18px;
	height:18px;
	position:absolute;
	left:25px;
	top:157px;
}
.e75_2109 { 
	overflow:hidden;
}
.e75_2109 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2108 { 
	background-color:rgba(0, 0, 0, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2107 { 
	width:42px;
	height:42px;
	position:absolute;
	left:13px;
	top:145px;
}
.e75_2105 { 
	overflow:hidden;
}
.e75_2105 { 
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_2104 { 
	background-color:rgba(0, 0, 0, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e75_119 { 
	color:rgba(255, 255, 255, 1);
	width:538px;
	height:61px;
	position:absolute;
	left:50px;
	top:603px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e75_2531 { 
	background-image:linear-gradient(0deg, rgba(4.250000221654773, 255, 149.68500316143036, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:248px;
	height:61px;
	position:absolute;
	left:50px;
	top:1200px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e75_2530 { 
	background-image:linear-gradient(0deg, rgba(68.57694178819656, 4.196874797344208, 251.81250303983688, 1) 0%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:248px;
	height:100px;
	position:absolute;
	left:752px;
	top:1181px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e112_192 { 
	width:1000px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}
.e112_193 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}
.e112_219 { 
	width:90px;
	height:90px;
	position:absolute;
	left:865px;
	top:12px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_194 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:7px;
	background-image:url(images/bmw.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_195 { 
	background-image:linear-gradient(0deg, rgba(137.25792199373245, 187.54430204629898, 233.9624896645546, 1) 0%,rgba(123.34562212228775, 157.88228809833527, 189.76248621940613, 1) 100%) ;
	width:500px;
	height:75px;
	position:absolute;
	left:118px;
	top:20px;
	border-top-left-radius:110px;
	border-top-right-radius:110px;
	border-bottom-left-radius:110px;
	border-bottom-right-radius:110px;
}
.e112_196 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:52px;
	position:absolute;
	left:214px;
	top:31px;
	font-family:Inika;
	text-align:center;
	font-size:40px;
	letter-spacing:15;
}
.e112_197 { 
	width:90px;
	height:90px;
	position:absolute;
	left:750px;
	top:12px;
	background-image:url(images/place_marker.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_198 { 
	width:90px;
	height:90px;
	position:absolute;
	left:625px;
	top:15px;
	background-image:url(images/bulleted_list.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e164_39 { 
	width:978px;
	height:300px;
	position:absolute;
	left:20px;
	top:1300px;
}
.e164_40 { 
	color:rgba(255, 255, 255, 1);
	width:675px;
	height:300px;
	position:absolute;
	left:303px;
	top:0px;
	font-family:Inika;
	text-align:left;
	font-size:30px;
	letter-spacing:15;
}
.e164_41 { 
	width:285px;
	height:217px;
	position:absolute;
	left:0px;
	top:42.00011444091797px;
	background-image:url(images/vehicle_logo_design_ideas_for_your_auto_company_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
