.e51_25 { 
	overflow:hidden;
}
.e51_25 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:2000px;
	position:absolute;
}
.e51_27 { 
	width:1000px;
	height:1600px;
	position:absolute;
	left:0px;
	top:0px;
}
.e51_28 { 
	width:1000px;
	height:1596.142578125px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/figma_page_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_37 { 
	color:rgba(255, 255, 255, 1);
	width:1000px;
	height:105.34542083740234px;
	position:absolute;
	left:0px;
	top:1097.3480224609375px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:15;
}
.e56_52 { 
	color:rgba(255, 255, 255, 1);
	width:1000px;
	height:123.4350357055664px;
	position:absolute;
	left:0px;
	top:1246.9864501953125px;
	font-family:Inika;
	text-align:center;
	font-size:30px;
	letter-spacing:15;
}
.e56_53 { 
	color:rgba(0, 255, 239.69999939203262, 1);
	width:1000px;
	height:253.254638671875px;
	position:absolute;
	left:0px;
	top:1346.745361328125px;
	font-family:Inika;
	text-align:center;
	font-size:30px;
	letter-spacing:15;
}
.e112_164 { 
	width:1000px;
	height:113.72515869140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e112_165 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:113.72515869140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e112_166 { 
	width:100px;
	height:99.7589111328125px;
	position:absolute;
	left:0px;
	top:6.983123779296875px;
	background-image:url(images/bmw.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_167 { 
	background-image:linear-gradient(0deg, rgba(137.25792199373245, 187.54430204629898, 233.9624896645546, 1) 0%,rgba(123.34562212228775, 157.88228809833527, 189.76248621940613, 1) 100%) ;
	width:500px;
	height:74.81918334960938px;
	position:absolute;
	left:118px;
	top:19.9517822265625px;
	border-top-left-radius:110px;
	border-top-right-radius:110px;
	border-bottom-left-radius:110px;
	border-bottom-right-radius:110px;
}
.e112_168 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:51.8746337890625px;
	position:absolute;
	left:214px;
	top:30.925262451171875px;
	font-family:Inika;
	text-align:center;
	font-size:40px;
	letter-spacing:15;
}
.e112_169 { 
	width:90px;
	height:89.78302001953125px;
	position:absolute;
	left:750px;
	top:11.9710693359375px;
	background-image:url(images/place_marker.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_170 { 
	width:90px;
	height:89.78302001953125px;
	position:absolute;
	left:625px;
	top:14.963836669921875px;
	background-image:url(images/bulleted_list.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_215 { 
	width:90px;
	height:89.78302001953125px;
	position:absolute;
	left:880px;
	top:14.963836669921875px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_33 { 
	width:900px;
	height:900px;
	position:absolute;
	left:50px;
	top:150px;
	border-top-left-radius:110px;
	border-top-right-radius:110px;
	border-bottom-left-radius:110px;
	border-bottom-right-radius:110px;
	background-image:url(images/front_left_side_47_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e70_37 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:300px;
	position:absolute;
	left:0px;
	top:1700px;
}
.e164_27 { 
	width:978px;
	height:300px;
	position:absolute;
	left:20px;
	top:1700px;
}
.e164_28 { 
	color:rgba(255, 255, 255, 1);
	width:675px;
	height:300px;
	position:absolute;
	left:303px;
	top:0px;
	font-family:Inika;
	text-align:left;
	font-size:30px;
	letter-spacing:15;
}
.e164_29 { 
	width:285px;
	height:217px;
	position:absolute;
	left:0px;
	top:42.00011444091797px;
	background-image:url(images/vehicle_logo_design_ideas_for_your_auto_company_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_62 { 
	background-image:linear-gradient(0deg, rgba(68.57694178819656, 4.196874797344208, 251.81250303983688, 1) 0%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:248px;
	height:61px;
	position:absolute;
	left:752px;
	top:1600px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
