.e51_21 { 
	overflow:hidden;
}
.e51_21 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:2000px;
	position:absolute;
}
.e51_23 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:2000px;
	position:absolute;
	left:0px;
	top:0px;
}
.e51_24 { 
	width:1000px;
	height:1600px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/figma_page_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_39 { 
	color:rgba(255, 255, 255, 1);
	width:1000px;
	height:99px;
	position:absolute;
	left:0px;
	top:1100px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:15;
}
.e51_40 { 
	color:rgba(255, 255, 255, 1);
	width:1000px;
	height:142px;
	position:absolute;
	left:0px;
	top:1250px;
	font-family:Inika;
	text-align:center;
	font-size:30px;
	letter-spacing:15;
}
.e51_41 { 
	color:rgba(0, 255, 239.69999939203262, 1);
	width:1000px;
	height:215px;
	position:absolute;
	left:0px;
	top:1400px;
	font-family:Inika;
	text-align:center;
	font-size:30px;
	letter-spacing:15;
}
.e70_49 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:300px;
	position:absolute;
	left:0px;
	top:1700px;
}
.e72_60 { 
	background-image:linear-gradient(0deg, rgba(68.57694178819656, 4.196874797344208, 251.81250303983688, 1) 0%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:248px;
	height:100px;
	position:absolute;
	left:752px;
	top:1600px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e51_36 { 
	width:900px;
	height:900px;
	position:absolute;
	left:50px;
	top:150px;
	border-top-left-radius:110px;
	border-top-right-radius:110px;
	border-bottom-left-radius:110px;
	border-bottom-right-radius:110px;
	background-image:url(images/front_left_side_47_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_185 { 
	width:1000px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}
.e112_186 { 
	background-color:rgba(0, 0, 0, 1);
	width:1000px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}
.e112_218 { 
	width:90px;
	height:90px;
	position:absolute;
	left:875px;
	top:15px;
	background-image:url(images/user.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_187 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:7px;
	background-image:url(images/bmw.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_188 { 
	background-image:linear-gradient(0deg, rgba(137.25792199373245, 187.54430204629898, 233.9624896645546, 1) 0%,rgba(123.34562212228775, 157.88228809833527, 189.76248621940613, 1) 100%) ;
	width:500px;
	height:75px;
	position:absolute;
	left:118px;
	top:20px;
	border-top-left-radius:110px;
	border-top-right-radius:110px;
	border-bottom-left-radius:110px;
	border-bottom-right-radius:110px;
}
.e112_189 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:52px;
	position:absolute;
	left:214px;
	top:31px;
	font-family:Inika;
	text-align:center;
	font-size:40px;
	letter-spacing:15;
}
.e112_190 { 
	width:90px;
	height:90px;
	position:absolute;
	left:750px;
	top:12px;
	background-image:url(images/place_marker.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e112_191 { 
	width:90px;
	height:90px;
	position:absolute;
	left:625px;
	top:15px;
	background-image:url(images/bulleted_list.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e164_36 { 
	width:978px;
	height:300px;
	position:absolute;
	left:20px;
	top:1700px;
}
.e164_37 { 
	color:rgba(255, 255, 255, 1);
	width:675px;
	height:300px;
	position:absolute;
	left:303px;
	top:0px;
	font-family:Inika;
	text-align:left;
	font-size:30px;
	letter-spacing:15;
}
.e164_38 { 
	width:285px;
	height:217px;
	position:absolute;
	left:0px;
	top:42.00011444091797px;
	background-image:url(images/vehicle_logo_design_ideas_for_your_auto_company_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
