.e102_138 { 
	overflow:hidden;
}
.e102_138 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1000px;
	height:700px;
	position:absolute;
}
.e102_147 { 
	background-color:rgba(255, 255, 255, 1);
	width:900px;
	height:95px;
	position:absolute;
	left:50px;
	top:44px;
	border-radius:111.9375px;
}
.e102_148 { 
	color:rgba(0, 0, 0, 1);
	width:233px;
	height:65px;
	position:absolute;
	left:383px;
	top:59px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:80px;
	top:270px;
	border-radius:110px;
}
.e112_92 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:546px;
	top:270px;
	border-radius:110px;
}
.e112_100 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:80px;
	top:571px;
	border-radius:110px;
}
.e112_101 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:549px;
	top:571px;
	border-radius:110px;
}
.e112_102 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:551px;
	top:466px;
	border-radius:110px;
}
.e112_103 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:80px;
	top:466px;
	border-radius:110px;
}
.e112_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:546px;
	top:368px;
	border-radius:110px;
}
.e112_95 { 
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:80px;
	top:368px;
	border-radius:110px;
}
.e112_96 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:65px;
	position:absolute;
	left:199px;
	top:285px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_97 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:65px;
	position:absolute;
	left:155px;
	top:376px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_98 { 
	color:rgba(0, 0, 0, 1);
	width:340px;
	height:65px;
	position:absolute;
	left:551px;
	top:278px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_99 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:65px;
	position:absolute;
	left:649px;
	top:376px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_104 { 
	color:rgba(0, 0, 0, 1);
	width:238px;
	height:65px;
	position:absolute;
	left:139px;
	top:474px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_105 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:65px;
	position:absolute;
	left:636px;
	top:466px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_106 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:65px;
	position:absolute;
	left:145px;
	top:579px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
.e112_107 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:65px;
	position:absolute;
	left:636px;
	top:579px;
	font-family:Inika;
	text-align:left;
	font-size:50px;
	letter-spacing:15;
}
